html, body {
	background: url(http://fc01.deviantart.net/fs71/i/2010/140/6/2/We_are_Anonymous_White_by_frenchie4111.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;	
	background-size: cover;
}