<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-3.2.xsd
			http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
			">
	<mvc:annotation-driven />
	<mvc:default-servlet-handler />

	<context:component-scan base-package="kr.kosta.team2.anonymoustab.controller" />

	
	
	 <mvc:interceptors>
	 	<mvc:interceptor>
	 		<mvc:mapping path="/**"/>
	 		<mvc:mapping path="/main/**"/>
	 		<mvc:exclude-mapping path="/login*"/>
	 		<mvc:exclude-mapping path="/join*"/>
	 		<mvc:exclude-mapping path="/logout*"/>
	 		<mvc:exclude-mapping path="/android/json*"/>
	 		
	 		<bean class = "kr.kosta.team2.anonymoustab.interceptor.CheckLoginFilter"></bean>
	 	</mvc:interceptor>
	 	<mvc:interceptor>
	 		<mvc:mapping path="/**"/>
	 		<mvc:mapping path="/main/**"/>
	 		<bean class="kr.kosta.team2.anonymoustab.interceptor.MenuInterceptor"/>
	 	</mvc:interceptor>
	 </mvc:interceptors>
	
	
	

	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp"/>
		<property name="suffix" value=".jsp"/>
	</bean>

	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >
		<property name="maxUploadSize" value="1000000000" />
	</bean>

</beans> 